@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'kdg_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontLibre{
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}
.fontLibre_Bold{
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
.fontLibre_Italic{
  font-family: 'Libre Baskerville', serif;
  font-weight: 400; font-style: italic;
}
.font_kdg{
    font-family: 'kdg_Medium';
    font-weight: normal;
    font-style: normal;
}
