/* 레이아웃 */
#main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  /* background-color: #886F65; */
}
.container {
  height: inherit;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
}
.contents .page1, .contents .page2, .contents .page3, .contents .page4, .contents .page6{
  width: 87%;
  margin-left: 13%;
  height: 500px;
}

.contents .page1 {
  background-color: #74574A;
}

.contents .page2 {
  background-color: #684D43;

}


/* 네비게이션 */
body{
  background-color: #C1C1C1;
}
nav{
  z-index: 5;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.09rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  right: 0;
  width: 13%;
  height: 100vh;
  color: #111;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(4px);
}
nav .logo{
  position: absolute;
  width:80%;
  height: 80px;
  top: 20px;
  left: 20%;
  outline: 2px solid;
}
nav ul li{
  font-size: 16px;
  position: relative;
  left: 20%;
  width: 80%;
  height: 45px;
  /* outline: 2px solid;  */
}
nav .contBtn{
  font-size: 14px;
  position: absolute;
  width: 60%;
  height: 45px;
  line-height: 3.2;
  bottom: 15px;
  left: 20%;
  text-align: center;
  color: white;
  background-color: rgb(37, 37, 37);
}
nav ul li:hover{
  cursor: pointer;
  color: #777;
}

nav .contBtn:hover{
  cursor: pointer;
  background-color: #777;
}

